.dialogs-header{
    display: flex;
    background-color: #728DED;
    padding: 20px;
    height: 60px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;

    .group-name{
        font-size: 1em;
        flex-grow: 1;
        margin-right: 20px;
    }
    
    a{
        color: inherit
    }

    .fa{        
        font-size: 1em;       
    }

    .fa-bars, .fa-search{
        cursor: pointer;
    }

    .fa-users, .fa-bars{
        margin-right: 20px;
    }
}
.dialogs-search{
    width: 40%;
    height: 18px;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
}