.settings {
  list-style: none;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  width: 40%;
  position: absolute;
  right: 5%;
  font-size:11px;
  background-color: white;
  font-family: Roboto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  user-select: none;
  li {
   margin: 3px 3px;
   padding: 5px 10px;
    color:grey;
      
  }
  li:hover {
    background-color: rgb(238, 238, 238);
  }
}
@media screen and (min-width: 480px){
  .settings {
      font-size: 13px;
  }
}
@media screen and (min-width: 980px){
  .settings {
      font-size: 14px;
  }
}