%message-wrapped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dialog{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    padding: 10px;  
    border-bottom: 1px solid lightgray;   
    justify-content: space-between;
}
.dialog:hover{
    background-color: rgb(209, 224, 255);
}

.dialog-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 10px;
}
.dialog-contain{
    min-width: 0;
    flex-grow: 1;
}
.dialog-name{
    @extend %message-wrapped;
    font-weight: 600;
    margin: 0 0 10px 0;  
}
.dialog-message{
    @extend %message-wrapped;
    color: grey;
    margin: 0;
    font-size: 15px;
}
.dialog-timing{
    align-content: flex-end;
    color: gray;
    min-width: 40px;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}
.settings {
    list-style: none;
    margin: 0;
    margin-top: 55px;
    padding: 0;
    width: 40%;
    position: absolute;
    right: 5%;
    font-size:11px;
    background-color: white;
    font-family: Roboto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    li {
     margin: 5px 15px;
      color:grey;
        
    }
}
@media screen and (min-width: 480px){
    .settings {
        font-size: 13px;
    }
}
@media screen and (min-width: 980px){
    .settings {
        font-size: 14px;
    }
}