* {
  outline:none
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login-form input {
  font-family: Calibri;
  font-size: 1.4em;
  border: none;
  border-bottom: 3px solid lightgrey;
}

.tel-wrapper {
  display: flex;
  width: 50%;
  margin: 5vh 0;
}
.number-7 {
  font-family: Calibri;
  font-size: 26px;
  color: gray;
  width: 20%;
  margin: 0;
  position: relative;
  bottom: 2px
}
.login-form input[type="tel"] {
  width: 80%;
}

.login-form input[type="text"] {
  width: 50%;
  margin-bottom: 5vh;
}

.login-text {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  color: #738DED;  
  margin: 10vh 0;
  font-weight: 400;
}
.login-button {
  margin-top: 11vh;
  cursor: pointer;
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  border: none;
  background-color: #738DED;
  text-align: center;
  display: flex;
  justify-content: center;
}

.fa-play {
  color: white;
  font-size: 7vh;
}
