
.setting-page{
    height: calc(100vh - 60px);
    background-color: #728DED;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}
.link-controllers{
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.link-contain{
    align-items: center;
    display: flex;
    flex-direction: column;

    p{
        margin: 5px 0;
    }
}
.left-controller{
    margin-right: 10px;
}
.icon{   
    border: 3px solid white;
    border-radius: 50%;
    padding: 20px;
    
    img{
        width: 50px;
        height: 50px;
    }  
}
.profileInfo{
    font-weight: 400;
    text-align: center;
    .fa-magic{
        color: white;
        margin-left: 20px;
    }
    .username-field,
    .message-field{
        background-color: inherit;
        border: 0;
        color: white;
        font-size: 15px;
        text-align: center;
    }
}
.profileImg{
    width: 100px;
    height: 100px;
}